@page "/"

<PageTitle>FightGame</PageTitle>

<h1>Welcome to Fight Game.</h1>
<p>First, pick your username. If the username you entered already exists, then it will start you at your last saved
    game. Select a class if this is your first time playing. The classes to choose from are Archer, Assassin,
    Executioner, Knight, Mage, Samurai, Summoner, and the Warrior</p>
<p>Name</p><input @bind="UserInputName" />
<p>Class</p><input @bind="UserInputClassType" /><button type="reset" class="btn-primary"
    @onclick="CreateCharacter">Submit</button>
<hr>
@if (CreatedCharacter)
{
    if (File.Exists($"../Players/{UserInputName}.csv") && UserInputClassType != "")
    {
        <p>You already have character with that username saved. No need to select a new class</p>
    }
    if (File.Exists($"../Players/{UserInputName}.csv"))
    {
        <p>@player.ToString()</p>
        <p>@score</p>
    }
    else
    {
        <p>@player.ToString()</p>
    }
}
@if (errorMessage != "")
{
    <p class="text-danger">@errorMessage</p>
}
@if (DisplayMenu)
{
    <button type="button" class="btn-primary" @onclick="PlayGame">Play</button>
    <button type="button" class="btn-primary" @onclick="QuitGame">Quit</button>
}
@if (roundIsStillGoing)
{
    <p>@inventory.ToString()</p>
    <p>You are facing @enemy.Name</p>
    <p>Your Health: @PlayerHealth Enemy Health: @EnemyHealth</p>
    <p>Choose an attack</p>
    <button type="button" class="btn-primary" @onclick="@(() => TakeTurn("Dodge", player))">Dodge</button>
    <button type="button" class="btn-primary" @onclick="@(() => TakeTurn("Normal", player))">Normal</button>
    <button type="button" class="btn-primary" @onclick="@(() => TakeTurn("Special", player))">Special</button>
    <button type="button" class="btn-primary" @onclick="@(() => TakeTurn("Ultimate", player))">Ultimate</button>
    if (EnemyHealth <= 0)
    {
        <p>Player has won!</p>

    }
    else if (PlayerHealth <= 0)
    {
        <p>Game over!</p>
    }
}
@if (playerWins && roundIsOver)
{
    <p>Player has won!</p>
}
@if (UserInShop)
{
    <p>Welcome to the Shop</p>
    <p>We have quite a selection for you to choose from.</p>
    <p>We have HealthBoost, AttackBoost, DodgeMoves, SpecialAttack and UltimateAttack</p>
    <p>@($"You have {this.player.Money} gold")</p>
    <p>What would you like to buy?</p>
    <button type="button" @onclick="@(() => BuyItem("DodgeMoves"))">DodgeMoves</button>
    <button type="button" @onclick="@(() => BuyItem("SpecialAttack"))">SpecialAttack</button>
    <button type="button" @onclick="@(() => BuyItem("UltimateAttack"))">UltimateAttack</button>
    <button type="button" @onclick="@(() => BuyItem("AttackBoost"))">AttackBoost</button>
    <button type="button" @onclick="@(() => BuyItem("HealthBoost"))">HealthBoost</button>
    <button type="button" @onclick="PlayGame">Continue</button>
    <button type="button" @onclick="QuitGame">Quit</button>
}
else if (playerWins == false && roundIsOver)
{
    <p>Game over!</p>
    <button type="reset" @onclick="PlayGame">Play</button>
    <button type="reset" @onclick="QuitGame">Quit</button>
}


@code {
    IPlayer player = new Player();
    IInventory inventory = new Inventory();
    IScore<string, int> score = new Score<string, int>();
    Game game = new Game();
    PlayerFileService file = new PlayerFileService();
    private Enemy enemy { get; set; }
    private string userInputName = "";
    private string UserInputName
    {
        get => userInputName;
        set
        {
            userInputName = value;
        }
    }
    private string userInputClassType = "";
    private string UserInputClassType
    {
        get => userInputClassType;
        set
        {
            userInputClassType = value;
        }
    }
    private bool CreatedCharacter { get; set; } = false;
    private bool GameIsStillGoing { get; set; } = false;
    private string errorMessage { get; set; } = "";
    private bool DisplayMenu { get; set; } = false;
    private int EnemyHealth { get; set; }
    private bool UserInShop { get; set; } = false;
    private int PlayerHealth { get; set; }
    private List<string> ItemsBought { get; set; } = new List<string>();
    private bool roundIsStillGoing { get; set; } = false;
    private bool playerWins { get; set; } = false;
    private bool PlayersTurn { get; set; } = false;
    private bool roundIsOver { get; set; } = false;
    private int Kills { get; set; } = 0;

    // CreateCharacter will create a new Player object and assign the player attributes
    // Will check if there is a saved game with the username given
    private void CreateCharacter()
    {
        errorMessage = "";
        if (File.Exists($"../Players/{UserInputName}.csv"))
        {
            GameIsStillGoing = true;
            player = file.ReadPlayerSavedData(UserInputName);
            inventory = PlayerFileService.ReadInventorySavedData(UserInputName);
            Menu();
        }
        else
        {
            // REQUIREMENT #9 - Throwing and Catching an Exception
            // Here we catch an exception if the input a user enters
            // is invalid. The user will not be able to move on until they enter a correct value
            try
            {
                player = Game.SelectClass(UserInputClassType, UserInputName);
                GameIsStillGoing = true;
                Menu();
            }
            catch (Exception)
            {
                CreatedCharacter = false;
                errorMessage = "Not a valid class";
                DisplayMenu = false;
            }
        }
        CreatedCharacter = true;
    }

    // Opens the menu. Player will have option to play or quit game.
    private void Menu()
    {
        DisplayMenu = true;
    }

    // PlayGame starts a game. It will create a random enemy and it will set the Player and Enemy health
    // It also checks for a Health Boost
    private void PlayGame()
    {
        roundIsOver = false;
        DisplayMenu = false;
        UserInShop = false;
        enemy = Enemy.GetEnemy();
        roundIsStillGoing = true;
        EnemyHealth = enemy.Health;
        PlayerHealth = player.Health;
        if (ItemsBought.Contains("Health Boost"))
            PlayerHealth += 10;
    }

    // The QuitGame function quits the game. It will save the players data into csv's
    // The player will be able to start where they left off last time when they play using
    // the same username
    private void QuitGame()
    {
        file.WritePlayerSavedData(player);
        PlayerFileService.WriteInventorySavedData(player.Name, inventory);
        file.WritePlayerScoresToFile(score);
        CreatedCharacter = false;
        UserInShop = false;
        roundIsOver = false;
        DisplayMenu = false;
    }

    // The TakeTurn function waits for a button to be clicked. It will then
    // take the input and use it to calculate the players damage, etc.
    private void TakeTurn(string move, IPlayer player)
    {
        errorMessage = "";
        Game game = new Game();
        //REQUIREMENT #9 - Throwing and Catching an Exception
        // Here we also throw and catch an exception. You can't use
        // ultimate attacks if you don't have any
        try
        {
            var damage = Game.PlayerTurn(player, enemy, move, ItemsBought, inventory);
            EnemyHealth -= damage;
        }
        catch (Exception)
        {
            errorMessage = $"You don't have any more {move}'s";
        }
        if (move != "Dodge")
        {
            var enemydamage = Game.EnemyAttack(player, enemy);
            PlayerHealth -= enemydamage;
        }
        if (EnemyHealth <= 0)
        {
            player.Money = player.Money + 5;
            playerWins = true;
            roundIsOver = true;
            roundIsStillGoing = false;
            score.EnemiesKilled += 1;
            score.Money += 5;
            OpenShop();
        }
        else if (PlayerHealth <= 0)
        {
            roundIsOver = true;
            playerWins = false;
            @* Game.SelectClass(move, player.Name); *@
            roundIsStillGoing = false;
        }
    }

    // The OpenShop function opens the shop up. It will be called when the player wins
    // a game
    private void OpenShop()
    {
        roundIsStillGoing = false;
        UserInShop = true;
    }

    private List<string> BuyItem(string input)
    {
        //REQUIREMENT #15 - Built-in Generic Collection Type
        //We use a List of strings here. The player can buy
        //Items like attack boosts and health boosts and they will be added to the list
        ItemsBought = new List<string>();
        if (input == "Attack Boost" && player.Money >= 10)
        {
            player.Money -= 10;
            ItemsBought.Add("Attack Boost");
        }

        if (input == "HealthBoost" && player.Money >= 10)
        {
            player.Money -= 10;
            ItemsBought.Add("Health Boost");
        }
        if (input == "DodgeMoves" && player.Money >= 5)
        {
            player.Money -= 5;
            inventory.Dodges++;
        }
        if (input == "UltimateAttack" && player.Money >= 5)
        {
            player.Money -= 5;
            inventory.UltimateAttacks++;
        }
        if (input == "SpecialAttack" && player.Money >= 5)
        {
            player.Money -= 5;
            inventory.SpecialAttacks++;
        }

        if (player.Money == 0)
        {
            PlayGame();
        }

        return ItemsBought;
    }
}
